body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #f7f7f7;
}

.headerCont {
    width: 100%;
    margin-bottom: 20px;
    padding-top: 20px;
    box-shadow: -5px 0px 20px 0px grey;
    background-color: #fefff1;
}
h2{
    margin-top: 0px;
    padding-bottom: 20px;
    font-size: 2em;
    text-align: center;
}
h3 {
    margin-top: 0px;
    padding: 20px;
    font-size: 1.6em;
}
.form-group {
    margin-top: 25px;
}
.submit-container{
    margin-left: 45%;
    margin-bottom: 25px;
    width: 10%;
}
.submit-container button{
    width: 100%;
    font-size: 1em;
    padding: 5px 0.5em;
    border-radius: 5px;
    background: gray;
    color: #fff;
    box-shadow: -1px 2px 10px 3px rgba(128, 128, 128, 0.4);
    border: none;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.submit-container button:hover {
    box-shadow: -1px 2px 20px 6px rgba(128, 128, 128, 0.4);
}
.form-group.submit-container button {
    font-size: 1.4em;
    padding: 0.3em 1em;
    border-radius: 5px;
    background: #fefff1;
    color: #101010;
    border: 1px solid #101010;
    box-shadow: -1px 2px 10px 3px rgba(128, 128, 128, 0.4);
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.form-group.submit-container button:hover {
    box-shadow: -1px 2px 20px 6px rgba(128, 128, 128, 0.35);
}
.form-group.submit-container button:active,
.form-group.submit-container button:focus {
    box-shadow: -1px 2px 10px 3px rgba(128, 128, 128, 0.4);;
}
.form-group #url-input{
    max-width: 70%;
    min-width: 70%;
    min-height: 10vh;
    max-height: 70vh;
    margin-left: 15%;
    background: #fefff1;
    height: 70vh;
    border-radius: 4px;
    border: none;
    box-shadow: -1px 3px 20px 0px rgba(128, 128, 128, 0.55);
}
